<!--@subject After Deal@-->
<!--@vars
{"var data.deal.group_deal_name":"Deal Name",
"var data.deal.deal_from_date":"From Date",
"var data.deal.deal_to_date":"To Date",
"var data.deal.deal_description":"Description of Deal",
"var data.deal.current_qty_ordered":"Ordered Quantity",
"var data.deal.current_price":"Last Price of Deal Product",
"var data.order.getIncrementId()":"Order Id",
"var data.order.created_at":"Purchase Date",
"var data.product.name":"Product Name",
"var data.product.sku":"Product SKU",
"var data.product.qty_ordered":"Customer has bought",
"var data.product.original_price":"Original Price"
@-->
        Info of Deal:
Deal Name: {{var data.deal.group_deal_name}}
From Date: {{var data.deal.deal_from_date}}
To Date: {{var data.deal.deal_to_date}}
Description of Deal: {{var data.deal.deal_description}}
Ordered Quantity: {{var data.deal.current_qty_ordered}}
Last Price of Deal Product: {{var data.deal.current_price}}

Order Id: {{var data.order.getIncrementId()}}
Purchase Date: {{var data.order.created_at}}

Product Name: {{var data.product.name}}
Product SKU: {{var data.product.sku}}
Customer has bought: {{var data.product.qty_ordered}}
Original Price: {{var data.product.original_price}}

