<?xml version="1.0"?>
<config>
    <modules>
        <DT_GroupDeal>
            <version>0.1.1</version>
        </DT_GroupDeal>
    </modules>
    <global>
        <models>
            <dt_groupdeal>
                <class>DT_GroupDeal_Model</class>
                <resourceModel>dt_groupdeal_resource</resourceModel>
            </dt_groupdeal>
            <dt_groupdeal_resource>
                <class>DT_GroupDeal_Model_Resource</class>
                <entities>
                    <deal>
                        <table>dt_group_deal</table>
                    </deal>
                    <tierprice>
                        <table>dt_deal_tier_price</table>
                    </tierprice>
                </entities>
            </dt_groupdeal_resource>
        </models>
        <blocks>
            <dt_groupdeal>
                <class>DT_GroupDeal_Block</class>
            </dt_groupdeal>
        </blocks>
        <helpers>
            <dt_groupdeal>
                <class>DT_GroupDeal_Helper</class>
            </dt_groupdeal>
        </helpers>
        <resources>
            <dt_groupdeal_setup>
                <setup>
                    <module>DT_GroupDeal</module>
                </setup>
            </dt_groupdeal_setup>
        </resources>

        <events>
            <catalog_product_type_configurable_price>
                <observers>
                    <dt_groupdeal>
                        <class>dt_groupdeal/observer</class>
                        <method>catalogProductTypeConfigurablePrice</method>
                    </dt_groupdeal>
                </observers>
            </catalog_product_type_configurable_price>
        </events>

        <fieldsets>
            <sales_convert_quote_item>
                <is_deal>
                    <to_order_item>*</to_order_item>
                </is_deal>
            </sales_convert_quote_item>
        </fieldsets>
    </global>

    <frontend>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <dt_groupdeal>
                        <class>dt_groupdeal/observer</class>
                        <method>processFrontFinalPrice</method>
                    </dt_groupdeal>
                </observers>
            </catalog_product_get_final_price>
            <sales_quote_collect_totals_after>
                <observers>
                    <dt_groupdeal>
                        <class>dt_groupdeal/observer</class>
                        <method>saveIsDeal</method>
                    </dt_groupdeal>
                </observers>
            </sales_quote_collect_totals_after>
            <prepare_catalog_product_collection_prices>
                <observers>
                    <dt_groupdeal>
                        <class>dt_groupdeal/observer</class>
                        <method>prepareCatalogProductCollectionPrices</method>
                    </dt_groupdeal>
                </observers>
            </prepare_catalog_product_collection_prices>
        </events>

        <layout>
            <updates>
                <dt_groupdeal>
                    <file>dt/group_deal.xml</file>
                </dt_groupdeal>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DT_GroupDeal before="Mage_Adminhtml">DT_GroupDeal_Adminhtml</DT_GroupDeal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <DT_GroupDeal>
                    <files>
                        <default>DT_GroupDeal.csv</default>
                    </files>
                </DT_GroupDeal>
            </modules>
        </translate>
        <layout>
            <updates>
                <dt_groupdeal>
                    <file>dt/group_deal.xml</file>
                </dt_groupdeal>
            </updates>
        </layout>

        <events>
            <catalog_product_get_final_price>
                <observers>
                    <dt_groupdeal>
                        <class>dt_groupdeal/observer</class>
                        <method>processAdminFinalPrice</method>
                    </dt_groupdeal>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </adminhtml>
</config>